<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">

    </nav>
</div>
<div class="card-body">
    <div class="card-ttile">
        本のタイトル
    </div>
    <!--本の登録フォーム-->
    <form action="/booksearch" method="post" class="form-horizontal">
        <!--本のタイトル-->
        <div class="form-group">
            <div class="col-sm-6">
                <input type="text" name="item_name" class="form-control">
            </div>
        </div>
        <!--本登録ボタン-->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary">
                    検索
                </button>
            </div>
        </div>
    </form>
</div>
<!--Book:すでに登録されている本のリスト-->

<div class="card-body">
    <div class="card-body">
        <table class="table table-striped task-table">

            <!--テーブルヘッダ-->
            <thead>
            <th>タイトル</th>
            <th>著者</th>
            <th>概要</th>
            <th>出版年月日</th>
            </thead>

            <!--テーブル本体-->
            <tbody>
            <tr th:each="books : ${books}">
                <td class="table-text" th:text="${books.title}"></td>
                <td class="table-text" th:text="${books.author}"></td>
                <td class="table-text" th:text="${books.summary}"></td>
                <td class="table-text" th:text="${books.insert_date}"></td>
                <td>
                    <!--本更新ボタン-->
                    <form action="/bookdetail" method="get">
                        <button type="submit" class="btn btn-primary">詳細</button>
                    </form>

                </td>
            </tr>
            </tbody>



        </table>



    </div>
</div>


</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">

    </nav>
</div>
<div class="card-body">
    <div class="card-ttile">
        本のタイトル
    </div>
    <!--本の登録フォーム-->
    <form action="/booksearch" method="post" class="form-horizontal">
        <!--本のタイトル-->
        <div class="form-group">
            <div class="col-sm-6">
                <input type="text" name="item_name" class="form-control">
            </div>
        </div>
        <!--本登録ボタン-->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary">
                    検索
                </button>
            </div>
        </div>
    </form>
</div>
<!--Book:すでに登録されている本のリスト-->

<div class="card-body">
    <div class="card-body">
        <table class="table table-striped task-table">

            <!--テーブルヘッダ-->
            <thead>
            <th>タイトル</th>
            <th>著者</th>
            <th>概要</th>
            <th>出版年月日</th>
            </thead>

            <!--テーブル本体-->
            <tbody>
            <tr th:each="books : ${books}">
                <td class="table-text" th:text="${books.title}"></td>
                <td class="table-text" th:text="${books.author}"></td>
                <td class="table-text" th:text="${books.summary}"></td>
                <td class="table-text" th:text="${books.insert_date}"></td>
                <td>
                    <!--本更新ボタン-->
                    <form action="/bookdetail" method="get">
                        <button type="submit" class="btn btn-primary">詳細</button>
                    </form>

                </td>
            </tr>
            </tbody>



        </table>



    </div>
</div>


</body>
</html>