<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
      div{ padding: 5px 10px; border: 1px solid lightgray; }

       .container .row .div, .container-fruid .row .div {
        border: solid lightgray;
        }
        .container .row .div div, .container-fruid .row .div div {
        color: darkblue;
        background-color: lightblue;
        }

    </style>


    <meta name="viewport" content="width=device-width, initial-scale=1, shirink-to-fit=no">
    <title>Index</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fruid">
    <h1>A Library in B City, D Prefecture</h1>
    <div class="row">

        <div class="col-lg-7 col-md-6 col-sm-4">
            <form action="/bookshelf" method="get">
                <button type="submit" class="btn btn-primary">
                    本棚
                </button>
            </form>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-4">

            <div>プロジェクト</div>

        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            <form action="/list" method="get">
                <button type="submit" class="btn btn-primary">
                    資料室
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div>history</div>
        </div>
      </div>
</div>
</body>
</html>