<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>資料の追加</title>

</head>
<body>
リスト
<div>
<!--    <form th:action="@{/addresource}" th:object="${bookForm}" method="post">-->
<!--        <dl>-->

<!--            <dt><label for="title">タイトル</label></dt>-->
<!--            <dd>-->
<!--                <input type="text" id="title" name="title" th:field="*{title}" value="タイトル">-->
<!--            </dd>-->
<!--            <dt><label for="title">著者</label></dt>-->
<!--            <dd>-->
<!--                <input type="text" id="author" name="author" th:field="*{author}" value="著者">-->
<!--            </dd>-->
<!--            <dt><label for="title">サマリー</label></dt>-->
<!--            <dd>-->
<!--                <input type="text" id="summary" name="title" th:field="*{summary}" value="サマリー">-->
<!--            </dd>-->
<!--            <dt><label for="title">出版年月日</label></dt>-->
<!--            <dd>-->
<!--                <input type="text" id="publishdatetime" name="title" th:field="*{publishdatetime}" value="出版年月日">-->
<!--            </dd>-->

<!--        </dl>-->
<!--        <input type="submit" value="追加">-->
<!--    </form>-->
</div>
<hr/>
<table>



</table>


</body>






</html>